name: Build, Push, and Deploy (GitOps)

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

    steps:
      
      - name: Checkout Application Code
        uses: actions/checkout@v4

      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      
      - name: Set image tag
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

     
      - name: Build and Push Images
        run: |
          TAG="${{ steps.vars.outputs.TAG }}"
          REPO_ROOT="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"
          
          docker build -t "$REPO_ROOT/retail-store-ui:$TAG" ./src/ui
          docker push "$REPO_ROOT/retail-store-ui:$TAG"
          
          docker build -t "$REPO_ROOT/retail-store-catalog:$TAG" ./src/catalog
          docker push "$REPO_ROOT/retail-store-catalog:$TAG"
          
          docker build -t "$REPO_ROOT/retail-store-cart:$TAG" ./src/cart
          docker push "$REPO_ROOT/retail-store-cart:$TAG"
          
          docker build -t "$REPO_ROOT/retail-store-orders:$TAG" ./src/orders
          docker push "$REPO_ROOT/retail-store-orders:$TAG"
          
          docker build -t "$REPO_ROOT/retail-store-checkout:$TAG" ./src/checkout
          docker push "$REPO_ROOT/retail-store-checkout:$TAG"

     
      - name: Checkout GitOps Repository
        uses: actions/checkout@v4
        with:
          repository: Fadi7AY/retail-store-gitops
          token: ${{ secrets.GITOPS_PAT }} 
          path: gitops-repo                

      # 7. Update values.yaml files in the GitOps Repo
      - name: Update Helm Values
        run: |
          NEW_TAG="${{ steps.vars.outputs.TAG }}"
          cd gitops-repo

          # Update the tags in the 'apps' folder structure
          sed -i "s/tag: \".*\"/tag: \"$NEW_TAG\"/" apps/ui/values.yaml
          sed -i "s/tag: \".*\"/tag: \"$NEW_TAG\"/" apps/catalog/values.yaml
          sed -i "s/tag: \".*\"/tag: \"$NEW_TAG\"/" apps/cart/values.yaml
          sed -i "s/tag: \".*\"/tag: \"$NEW_TAG\"/" apps/orders/values.yaml
          sed -i "s/tag: \".*\"/tag: \"$NEW_TAG\"/" apps/checkout/values.yaml
          
          echo "Changes applied to GitOps repo:"
          git diff

      - name: Commit and Push to GitOps Repo
        run: |
          cd gitops-repo
          git config user.name "GitHub Actions CI"
          git config user.email "actions@github.com"
          
          if [[ -n $(git status -s) ]]; then
            git add .
            git commit -m "CI: Update image tags to ${{ steps.vars.outputs.TAG }}"
            git push origin main
            echo "Successfully updated GitOps repo."
          else
            echo "No changes detected."
          fi